*{
    margin: 0;
    padding: 0;
}

nav#menu ul{
    text-transform: uppercase;
    list-style: none;
    position: absolute;
    top: 60px;
    left: 600px;
}
nav#menu{
    display: block;
}

nav#menu li{
    display: inline-block;
    background-color: rgba(233, 132, 132, 0.87);
    padding: 12px;
    

}

body {
    background: rgb(245, 244, 242);
}
    
header {
    background-color: rgb(224, 168, 168);
    padding-top: 70px;
    padding-bottom: 10px;
    position: relative;
}