*{
    margin: 0;
    padding: 0;
}

nav#menu ul{
    text-transform: uppercase;
    list-style: none;
}
nav#menu{
    display: block;
}

nav#menu li{
    display: inline-block;

}

body {
    background: rgb(rgb(250, 218, 239))
}
    
header {
    background-color: rgb(247, 197, 240);
    padding-top: 70px;
    padding-bottom: 60px;
    position: relative;
}